@page "/products"
@inject IProductService Api

<h3>List of Products</h3>

<ItemsComponent Items="@products">   
    <ListTemplate Items="@products">
        <ItemTemplate Context="product">
            <li>
                <h4>@product.Name</h4>
                <p>Price: @product.Price</p>
                <p>Description: @product.Description</p>
            </li>
        </ItemTemplate>
    </ListTemplate>
        
</ItemsComponent>

@code {

    private List<Product> products;

    protected override async Task OnInitializedAsync()
    {
        products = await Api.GetAllAsync();
    }

}
