@page "/customers"
@inject ICustomerService Api

<h3 class="text-@Theme">List of Customers</h3>

<SearchPanel ValueChanged="@HandleSearchAsync" />


<CascadingValue Value="@Alert" Name="MyAlert">

    <CascadingValue Value="@DefaultMargin">

        <ItemsComponent Items="@customers">
            <TableTemplate Items="@customers">
                <HeaderTemplate>
                    <tr>
                        <th>Id</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                    </tr>
                </HeaderTemplate>

                <RowTemplate Context="customer">
                    <tr>
                        <td>@customer.Id</td>
                        <td>@customer.FirstName</td>
                        <td>@customer.LastName</td>
                    </tr>
                </RowTemplate>
            </TableTemplate>

        </ItemsComponent>


    </CascadingValue>
</CascadingValue>


@code {
    private List<Customer> customers;

    private async Task HandleSearchAsync(string text)
    {
        // TODO: Implement search logic
    }

    protected override async Task OnInitializedAsync()
    {
        customers = await Api.GetAllAsync();
    }

    [CascadingParameter(Name = "MyTheme")]
    public string Theme { get; set; }


    public Margins DefaultMargin { get; set; } = new Margins { Bottom = 10, Top = 20, Left = 30, Right = 40 };

    public string Alert { get; set; } = "danger";
}
