@page "/customers"
@inject ICustomerService Api

<h3 class="text-@Theme">List of Customers</h3>

    <CascadingValue Value="@Alert" Name="MyAlert">
        <CascadingValue Value="@DefaultMargin">

            <ItemsComponent Items="@customers">
                <TableTemplate Items="@customers">
                    <HeaderTemplate>
                        <tr>
                            <th>Id</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                        </tr>
                    </HeaderTemplate>

                    <RowTemplate Context="customer">
                        <tr>
                            <td>@customer.Id</td>
                            <td>@customer.FirstName</td>
                            <td>@customer.LastName</td>
                        </tr>
                    </RowTemplate>
                </TableTemplate>

            </ItemsComponent>


        </CascadingValue>
    </CascadingValue>


@code {
    private List<Customer> customers;

    protected override async Task OnInitializedAsync()
    {
        customers = await Api.GetAllAsync();
    }

    [CascadingParameter(Name = "MyTheme")]
    public string Theme { get; set; } 
   

    public int DefaultMargin { get; set; } = 10;

    public string Alert { get; set; } = "danger";
}